.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.startpage__inputGroup {
  display: flex;
}

startpage__go-btn {
  color: green;
}


video {
  width: auto;
  border: 2px solid red;
}

.u-display--flex {
  display: flex;
} 

.u-jutify-content--space-between {
  justify-content: space-between;
}