.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.startpage__inputGroup {
  display: flex;
}

.startpage__input {
  width: 600px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #9ba2a6;
  font-size: 16px;
}

.startpage__input:focus {
  outline: 1px dotted #37454d;
  outline-offset: -3px;
  box-shadow: none;
}

.startpage__go-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #007fad;
  border: 1px solid #007fad;
  font-size: 16px;
}

.startpage__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 38px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 38px;
  color: #37454d;
}

.startpage__header {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
}

.header {
  box-shadow: 0 1px 4px rgba(41, 51, 57, 0.5);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  margin-bottom: 10px;
}

.header__title {
  margin-left: 10px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  font-weight: 800;
  line-height: 26px;
  color: #37454d;
}

.header__room {
  margin-left: auto;
  margin-right: 30px;
}

.videos_you {
  margin-left: 10px;
  padding: 0 10px 10px 10px;
  border: 1px solid #37454d;
  width: auto;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 10px;
}

.videos_you__title {
  text-align: center;
}

.videos_you__controls {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #37454d;
  padding: 10px;
}

.videos_you__controls button {
  border-radius: 2px;
  width: auto;
  background: transparent !important;
  color: #37454d;
  border: 1px solid #37454d;
  margin-right: 10px;
}

.videos_you__controls button:hover {
  color: #37454d;
}

.grid {
  display: grid;
  grid-template-areas:
    "chat chat chat chat chat video_you"
    "others others others others others others";
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.videos_you {
  grid-area: video_you;
}
