body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #37454d;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: #e0e1e2 none;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.1s ease, background-color 0.1s ease,
    color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease,
    background 0.1s ease, -webkit-box-shadow 0.1s ease;
  will-change: "";
  -webkit-tap-highlight-color: transparent;
  background-color: #2185d0;
  color: #fff;
  text-shadow: none;
  background-image: none;
}

button:hover {
  background-color: #1678c2;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0px 0px 1px transparent inset,
    0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

button:focus {
  background-color: #0d71bb;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: "" !important;
  box-shadow: "" !important;
}

button:active,
button:active {
  background-color: #1a69a4;
  color: #fff;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 0px 1px transparent inset, none;
  box-shadow: 0px 0px 0px 1px transparent inset, none;
}

input {
  position: relative;
  font-weight: normal;
  font-style: normal;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: rgba(0, 0, 0, 0.87);
  border: 1px solid rgba(34, 36, 38, 0.15);
  max-width: 100%;
  outline: 0;
  text-align: left;
  line-height: 1.21428571em;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  padding: 0.67857143em 1em;
  background: #fff;
  border-radius: 0.28571429rem;
}

#remoteVideos {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#remoteVideo vide {
  width: 100%;
}

#localVideo {
  height: 150px;
}

input:focus {
  border-color: #85b7d9;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:active {
  border-color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
}

.videoContainer {
  position: relative;
  width: 200px;
  height: 150px;
}
.videoContainer video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.connectionstate {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: #fff;
}
